@font-face {
  font-family: "helvetica";
  src: url("/fonts/Helvetica.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "helvetica";
  background: #e5e5e5;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 40px;
}

/* nav css start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.logo img {
  max-width: 200px;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav li a {
  color: rgba(75, 93, 104, 1);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
}
.btn-nav {
  border: none;
  outline: none;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
/* toggle items */
#toggle-menu {
  display: none;
}
.toggle-menu-btn {
  font-size: 20px;
  display: none;
}
/* nav css end */
/* banner css start */
.banner {
  height: calc(100vh - 80px);
  background: url("../images/banner.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 55%;
  width: 100%;
  display: flex;
  align-items: center;
}
.banner_text h1 {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
  color: rgba(33, 35, 83, 1);
  max-width: 645px;
}
.banner_text {
  width: 100%;
}
.banner_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(75, 93, 104, 1);
  max-width: 500px;
  margin: 40px 0px;
}
.btn_banner {
  border: none;
  outline: none;
  padding: 15px 30px;
  background: rgba(156, 105, 226, 1);
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
/* =====banner css end===== */

/* ====about css start===== */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
  background: rgba(240, 99, 184, 0.15);
  margin-top: 70px;
  border-radius: 50px;
}
.about_left {
  max-width: 477px;
  height: 504px;
}
.about_left img {
  width: 100%;
  height: 100%;
}
.about_right h2 {
  font-size: 40px;
  line-height: 52px;
  color: rgba(33, 35, 83, 1);
  font-weight: 600;
  margin-bottom: 20px;
}
.about_right,
.title p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: rgba(75, 93, 104, 1);
}
/* ====about css end==== */
/* feature css start */
#feature {
  margin-top: 70px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 30px;
  line-height: 14px;
  color: rgba(33, 35, 83, 1);
  font-weight: 600;
  margin-bottom: 20px;
}
.title p {
  max-width: 500px;
  margin: 0px auto;
}
.feature_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card {
  max-width: 442px;
  height: 358px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/features/features-bg1.png);
  background-repeat: no-repeat;
}
.card-2 {
  background: url(../images/features/features-bg2.png);
  background-repeat: no-repeat;
}
.card-3 {
  background: url(../images/features/features-bg3.png);
  background-repeat: no-repeat;
}
.card-4 {
  background: url(../images/features/features-bg4.png);
  background-repeat: no-repeat;
}
.card-image {
  max-width: 232px;
  height: 211px;
}
.card-image img {
  transform: translateX(-41px);
}
.card-text h3 {
  font-size: 18px;
  color: rgba(33, 35, 83, 1);
  font-weight: 400;
  line-height: 31px;
}
.card-text p {
  color: rgba(75, 93, 104, 1);
  padding: 15px 0px;
  font-weight: 400;
  margin-right: 20px;
}
.btn-feature {
  border: none;
  outline: none;
  background: none;
  color: rgba(33, 35, 83, 1);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
/* feature css end */
/* testimonial css start */
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
}
.testimonial {
  background: rgba(156, 105, 226, 1);
  border-radius: 50px;
  color: rgba(255, 255, 255, 1);
  margin-top: 70px;
  margin-bottom: 70px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonial-title h3 {
  font-size: 30px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}
.testimonial-card {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 0px 0px rgba(156, 105, 226, 0.3);
  color: black;
  border-radius: 20px;
}
.testimonial-card-img {
  margin-right: 26px;
  margin-bottom: 98px;
}
.testimonial-card-text h3 {
  color: rgba(33, 35, 83, 1);
  font-size: 17px;
  font-weight: 900;
  line-height: 28px;
}
.testimonial-card-text h5 {
  font-weight: 500;
  color: rgba(156, 105, 226, 1);
  font-size: 14px;
}
.testimonial-card-text p {
  margin-right: 148px;
  color: rgba(75, 93, 104, 1);
  line-height: 22px;
  margin-top: 16px;
}
/* testimonial css end */
/* footer css start */
#help {
  margin-top: 100px;
  border-top: 2px solid rgb(201 184 225);
}
.footer {
  margin-bottom: 30px;
  margin-top: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 30px;
}
address {
  color: rgba(33, 35, 83, 1);
  margin: 50px 0px;
}
address p {
  margin: 20px 0px;
  font-size: 15px;
}
.col h5 {
  padding-bottom: 20px;
  color: rgba(33, 35, 83, 1);
  font-weight: 400;
  font-size: 16px;
}
.col-title {
  margin-bottom: 30px;
  font-weight: 600 !important;
}
.icon {
  display: flex;
}
.icon i {
  background: #cbc6c6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.copyright p {
  margin-top: 25px;
  max-width: 331px;
  color: rgba(33, 35, 83, 1);
  line-height: 27px;
  font-size: 15px;
  font-weight: 400;
}
.copyright i {
  width: 40px;
  height: 40px;
  background: rgb(219, 199, 247, 1);
  border-radius: 50%;
  display: flex;
  color: rgba(156, 105, 226, 1);
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 19px;
  margin-top: 30px;
}
.free_trail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding-bottom: 33px;
  flex-wrap: nowrap;
}
.free_trail h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: rgba(33, 35, 83, 1);
}
.free_trail p {
  line-height: 28px;
  color: rgba(75, 93, 104, 1);
  font-size: 16px;
}
/* footer css end */
/* responsive for small device */
@media (max-width: 940px) {
  .btn-nav {
    display: none;
  }
  .toggle-menu-btn {
    display: block;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    padding: 0;
    transform: translateY(-500px);
    transition: 0.3s linear;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  }
  #toggle-menu:checked ~ .navigation {
    transform: translateY(0px);
  }
  .navigation li {
    display: block;
    padding: 20px 0px 20px 50px;
  }
  /* nav css end */
  .banner {
    background: none;
  }
  /* banner css end*/
  .about {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px 0px;
    margin: 20px;
  }
  .feature_container,
  .testimonial-container {
    grid-template-columns: 1fr;
  }
  .testimonial {
    height: 100%;
    border-radius: 0;
  }
  .about_right {
    padding: 0px 20px;
  }
  .testimonial-container {
    gap: 18px;
    overflow: hidden;
    padding: 20px 0px;
  }
  .testimonial-card-img {
    margin-bottom: 28px;
  }
}
@media (max-width: 526px) {
  .banner_text h1 {
    font-size: 56px;
    line-height: 64px;
  }
  .card {
    flex-direction: column;
    padding: 5px 0px !important;
  }
  .card-image img {
    transform: translateY(0);
  }
  .card-text {
    text-align: center;
  }
  .card-text p {
    margin-right: 0px;
    padding: 5px 15px;
  }
  .testimonial-card-text p {
    margin-right: 1px;
  }
  .testimonial-card-img {
    margin-bottom: 8px;
    margin-right: 0;
  }
  .testimonial-card {
    text-align: center;
    padding: 10px 20px;
    flex-direction: column;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
  }
  .free_trail {
    flex-direction: column;
  }
  .free_trail h3 {
    font-size: 32px;
  }
}
@media (max-width: 376px) {
  .banner_text h1 {
    font-size: 35px;
    line-height: 48px;
  }
  .banner_text p {
    margin: 19px 0px;
  }
  .about_right h2 {
    font-size: 29px;
    line-height: 37px;
    margin-bottom: 11px;
  }
  .about_right p {
    line-height: 22px;
  }
  .about {
    padding: 5px 0px;
  }
  .about {
    gap: 7px;
  }
}
